{% extends 'base.html' %}

{% block content %}
<form method="post" class="buttons">
    <h3>Enter the chat room</h3>
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Pick a name!!" value="{{name}}" />

    </div>
    <div class="join">
        <input type="text" name="code" placeholder="Room code" value="{{code}}">
        <button type="submit" name="join" class="join">Join a Room</button>
    </div>
    <button type="submit" name="create-btn">Create a Room</button>
    {% if error %}
    <ul>
        <li>{{error}}</li>
    </ul>
    {% endif %}

</form>
{% endblock %}